@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color:#fe9e0c; 
    --dark-color: #464646;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0 !important;
}


